
/* Styles spécifiques pour mobiles */

.presentation{
    flex-direction: column;
    align-items: center;
    background-color: gray;
  }
  
  .presentation-image{
    width: 100%;
    height: 23em;
    border: 1px solid gray;
    background-color: red;
    border-radius: 5em;
  }
  
  
  .texte,
  .description-texte {
  
    width: 100%;
    margin-top: 20px; /* Ajoutez de l'espace entre le texte et l'image */
    text-align: center;
    margin-bottom: 2em;
  
  }
  
  
  /* Styles spécifiques pour les tablettes */
  @media screen and (min-width: 768px) {
    .presentation{
        flex-direction: column;
        align-items: center;
        background-color: gray;
    }
  
    .presentation-image{
      width: 100%;
      height: 40em;
      border: 1px solid gray;
      background-color: red;
      border-radius: 5em;
    }
  
    .texte,
    .description-texte{
        width: 100%;
        margin-top: 20px; /* Ajoutez de l'espace entre le texte et l'image */
        text-align: center;
        margin-bottom: 2em;
    }
  
  
  }
  
  /* Styles spécifiques pour les grands écrans*/
  
  
        @media screen and (min-width: 1200px) {
          
          .presentation{
            width: auto;
            padding: 2em;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: baseline;
            text-wrap: wrap;
            flex-wrap: wrap;
            background-color: gray;

          }
          
          .presentation-image{
            width: 50%;
            height: 30em;
            border: 1px solid gray;
            background-color: red;
            border-radius: 5em;
          }
          
          .description-texte {
            width: 50%;
            height: 23em; 
            text-align: center;
          }

          .texte h4 {
            padding-left: 23em;
          }
          .conteneur {
            display: flex;
            width: 100%;
          }
        }
  
  