* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100vw;
  height: 5em;
  align-items: center;
  display: flex;
}

header h1 {
  width: 35%;
  margin-left: 1em;
}

.menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}


.presentation {
  width: 100vw;
  /* height: 50vh; */
  padding: 2em;
  display: flex;
  justify-content: center;
  text-wrap: wrap;
}

.image {
  width: 50%;
  height: 23em;
  padding: 5em;
  border: 1px solid gray;
}

.texte {
  width: 50%;
  height: 23em;
  padding: 5em;
  text-align: center;
  border: 1px solid gray;
}

